<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="icon" href="data:," />
    <title>Clase 32 - Logout</title>
  </head>
  <body style="background-color: rgb(178, 247, 224)">
    <%- include("templates/navbar") %>

    <div class="container mt-3 pb-3 bg-light">
      <h1>Logout</h1>
      <h2 class="text-primary">Goodbye <%= name %></h2>
    </div>

    <script>
      const redireccionar = (direccion) => {
        location.href = direccion;
      };
      const volver = () => {
        setTimeout(redireccionar, 2000, "/login");
      };
      volver();
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
